In [1]:
library(poibin)
wdir = '../data/'

In [2]:
midprob = read.table('../outputs/MidProb.txt')

In [3]:
rts.colony <- read.csv(paste0(wdir,"Bishayee Colony Counts 10.27.97-3.8.csv"),header=T,skip=2)
head(rts.colony)
dim(rts.colony)

  ISOTOPE Bate...B0.B00 Date     col1 col2 col3 average
1 131I    8405          10/27/97 78   91   93   87.33
2 no DMSO 8405          10/27/97 90   88   90   89.33
3         8405          10/27/97 80   66   69   71.67
4         8405          10/27/97 63   67   71   67.00
5         8405          10/27/97 44   58   64   55.33
6         8405          10/27/97 38   53   51   47.33

[1] 1362    7

In [4]:
idx1 = which(apply(rts.colony[,4:6],1,function(x) any(is.na(x))))
idx2 = which(apply(rts.colony[,4:6],1,function(x) (max(x) - min(x)) < 2 ))
idx = unique(c(idx1, idx2))
rts.colony = rts.colony[-idx, ]
dim(rts.colony)

[1] 1343    7

In [5]:
rts.coulter <- read.csv(paste0(wdir,"Bishayee Coulter Counts.10.20.97-7.16.csv"),header=T,skip=1)
head(rts.coulter)
dim(rts.coulter)

  Bates   Date     Count.1 Count.2 Count.3 Average
1 B008404 10/20/97 531     508     541     526.67
2 B008404 10/20/97 650     626     595     623.67
3 B008404 10/20/97 460     455     468     461.00
4 B008404 10/20/97 550     530     538     539.33
5 B008404 10/20/97 466     468     452     462.00
6 B008404 10/20/97 567     555     521     547.67

[1] 1729    6

In [6]:
idx1 = which(apply(rts.coulter[,3:5],1,function(x) any(is.na(x))))
idx2 = which(apply(rts.coulter[,3:5],1,function(x) (max(x) - min(x)) < 2 ))
idx = unique(c(idx1, idx2))
rts.coulter = rts.coulter[-idx, ]
dim(rts.coulter)

[1] 1726    6

In [7]:
others.colony <- read.csv(paste0(wdir,"Other Investigators in Lab.Colony Counts.4.23.92-11.27.csv"),header=T,skip=1)
head(others.colony)
dim(others.colony)

  Bates...B00.or.B0 Date    Inv col1 col2 col3 average
1                   4/23/92 I   266  247  262  258.33
2                   4/23/92 I   170  151  156  159.00
3                   4/23/92 I    66   66   56   62.67
4                   4/23/92 I    22   13   27   20.67
5                   4/23/92 I     1    1    4    2.00
6                   4/23/92 I    10   13   12   11.67

[1] 621   7

In [8]:
idx1 = which(apply(others.colony[,4:6],1,function(x) any(is.na(x))))
idx2 = which(apply(others.colony[,4:6],1,function(x) (max(x) - min(x)) < 2 ))
idx = unique(c(idx1, idx2))
others.colony = others.colony[-idx, ]
dim(others.colony)

[1] 578   7

In [9]:
others.coulter <- read.csv(paste0(wdir,"Other Investigators in Lab.Coulter Counts.4.15.92-5.21.csv"),header=T,skip=1)
head(others.coulter)
dim(others.coulter)

  Bates.No. Date    Coul.1 Coul.2 Coul.3 Average Investigator
1           4/15/92 1547   1574   1523   1548.00 I
2           4/15/92 1617   1552   1570   1579.67 I
3           4/15/92 1258   1279   1284   1273.67 I
4           4/15/92 1273   1313   1286   1290.67 I
5           4/15/92 1071   1044   1044   1053.00 I
6           4/15/92 1014   1014    965    997.67 I

[1] 1007    7

In [10]:
idx1 = which(apply(others.coulter[,3:5],1,function(x) any(is.na(x))))
idx2 = which(apply(others.coulter[,3:5],1,function(x) (max(x) - min(x)) < 2 ))
idx = unique(c(idx1, idx2))
others.coulter = others.coulter[-idx, ]
dim(others.coulter)

[1] 929   7

# RTS Colony

In [11]:
print('number of mean containing triplets in RTS colony data is: ')
sum(apply(rts.colony[4:7],1, function(x) any(round(x[4]) %in% x[1:3])))

[1] "number of mean containing triplets in RTS colony data is: "

[1] 690

In [12]:
print('p-value using poission binomial in RTS colony data is:')
lam_hat = round(rts.colony[,7])
1 - ppoibin(690 - 1,midprob[match(lam_hat, midprob$V1),2])

[1] "p-value using poission binomial in RTS colony data is:"

[1] 5.329071e-15

# Others Colony

In [13]:
print('number of mean containing triplets in others colony data is: ')
sum(apply(others.colony[4:7],1, function(x) any(round(x[4]) %in% x[1:3])))

[1] "number of mean containing triplets in others colony data is: "

[1] 109

In [14]:
print('p-value using poission binomial in others colony data is:')
lam_hat = round(others.colony[,7])
1 - ppoibin(109 - 1,midprob[match(lam_hat, midprob$V1),2])

[1] "p-value using poission binomial in others colony data is:"

[1] 0.2843867

# Approximate the estimated \lambda to nearest one in MidProb Table

In [15]:
lam_hat = round(rts.coulter[,6])
idx = which(is.na(match(lam_hat,midprob$V1))) 
tmp = lam_hat[idx] # must be outside of 1:2000, 2100-10000 by 100, 11000-60000 by 1000
tmp

  [1]  2596  2431  3285  3193  2613  2432  2196  3325  3273  2646  3758  4420
 [13]  4122  2793  2328  3298  5149  5079  4885  4525  4374  7668  6576  2748
 [25]  2836  3558  5468  4533  3434  2869  2151  2295  6334  6203  4055  2999
 [37]  2562  8055  3278  4450  3440  5083  3801  5829  2465  5170  3383  3077
 [49]  3801  5829  5170  3383  3077  3936  3356  3547  4375  5042  4360  4105
 [61]  8740  9531 16503 13567 32993 31439 42855 46253  3645  3817  2079  3771
 [73]  3958  4910  4203  2389  2424  5275  5213  4120  4174 13094 12883  3936
 [85]  3356  3547  4375  5042  4360  4105  8740  9531 16503 13537  2522  5145
 [97]  4558 16131  2414  4940  4141 15121  2679  4586  3377  3633  4852  4430
[109]  4080  5115  4111  5907  7118  6477  6677  5195  6623  5851  7195  8302
[121]  6401  6741  5459  5843  5781  2280  2145  2828  3104  2559  2429  2691
[133]  2694  2242  2278  2408  2092

In [16]:
tmp = round(tmp / 100) * 100
tmp[tmp > 10000] = round(tmp[tmp > 10000] / 1000) * 1000
tmp

  [1]  2600  2400  3300  3200  2600  2400  2200  3300  3300  2600  3800  4400
 [13]  4100  2800  2300  3300  5100  5100  4900  4500  4400  7700  6600  2700
 [25]  2800  3600  5500  4500  3400  2900  2200  2300  6300  6200  4100  3000
 [37]  2600  8100  3300  4400  3400  5100  3800  5800  2500  5200  3400  3100
 [49]  3800  5800  5200  3400  3100  3900  3400  3500  4400  5000  4400  4100
 [61]  8700  9500 16000 14000 33000 31000 43000 46000  3600  3800  2100  3800
 [73]  4000  4900  4200  2400  2400  5300  5200  4100  4200 13000 13000  3900
 [85]  3400  3500  4400  5000  4400  4100  8700  9500 16000 14000  2500  5100
 [97]  4600 16000  2400  4900  4100 15000  2700  4600  3400  3600  4900  4400
[109]  4100  5100  4100  5900  7100  6500  6700  5200  6600  5900  7200  8300
[121]  6400  6700  5500  5800  5800  2300  2100  2800  3100  2600  2400  2700
[133]  2700  2200  2300  2400  2100

In [17]:
lam_hat[idx] = tmp
which(is.na(match(lam_hat,midprob$V1)))

integer(0)

# RTS Coulter

In [18]:
print('number of mean containing triplets in RTS coulter data is: ')
sum(apply(rts.coulter[3:6],1, function(x) any(round(x[4]) %in% x[1:3])))

[1] "number of mean containing triplets in RTS coulter data is: "

[1] 176

In [19]:
print('p-value using poission binomial in RTS coulter data is:')

lam_hat = round(rts.coulter[,6])
idx = which(is.na(match(lam_hat,midprob$V1)))
tmp = lam_hat[idx]
tmp = round(tmp / 100) * 100
tmp[tmp > 10000] = round(tmp[tmp > 10000] / 1000) * 1000
lam_hat[idx] = tmp

1 - ppoibin(176 - 1,midprob[match(lam_hat, midprob$V1),2])

[1] "p-value using poission binomial in RTS coulter data is:"

[1] 1.578737e-13

# Others Coulter

In [20]:
print('number of mean containing triplets in others coulter data is: ')
sum(apply(others.coulter[3:6],1, function(x) any(round(x[4]) %in% x[1:3])))

[1] "number of mean containing triplets in others coulter data is: "

[1] 36

In [21]:
print('p-value using poission binomial in others coulter data is:')

lam_hat = round(others.coulter[,6])
idx = which(is.na(match(lam_hat,midprob$V1)))
tmp = lam_hat[idx]
tmp = round(tmp / 100) * 100
tmp[tmp > 10000] = round(tmp[tmp > 10000] / 1000) * 1000
lam_hat[idx] = tmp 

1 - ppoibin(36 - 1,midprob[match(lam_hat, midprob$V1),2])

[1] "p-value using poission binomial in others coulter data is:"

[1] 0.758276