In [61]:
library(poibin)
wdir = '../data/'

In [ ]:
midprob = read.table('../outputs/MidProb.txt')

In [57]:
rts.colony <- read.csv(paste0(wdir,"Bishayee Colony Counts 10.27.97-3.8.csv"),header=T,skip=2)
head(rts.colony)
dim(rts.colony)

  ISOTOPE Bate...B0.B00 Date     col1 col2 col3 average
1 131I    8405          10/27/97 78   91   93   87.33
2 no DMSO 8405          10/27/97 90   88   90   89.33
3         8405          10/27/97 80   66   69   71.67
4         8405          10/27/97 63   67   71   67.00
5         8405          10/27/97 44   58   64   55.33
6         8405          10/27/97 38   53   51   47.33

[1] 1362    7

In [58]:
rts.coulter <- read.csv(paste0(wdir,"Bishayee Coulter Counts.10.20.97-7.16.csv"),header=T,skip=1)
head(rts.coulter)
dim(rts.coulter)

  Bates   Date     Count.1 Count.2 Count.3 Average
1 B008404 10/20/97 531     508     541     526.67
2 B008404 10/20/97 650     626     595     623.67
3 B008404 10/20/97 460     455     468     461.00
4 B008404 10/20/97 550     530     538     539.33
5 B008404 10/20/97 466     468     452     462.00
6 B008404 10/20/97 567     555     521     547.67

[1] 1729    6

In [59]:
others.colony <- read.csv(paste0(wdir,"Other Investigators in Lab.Colony Counts.4.23.92-11.27.csv"),header=T,skip=1)
head(others.colony)
dim(others.colony)

  Bates...B00.or.B0 Date    Inv col1 col2 col3 average
1                   4/23/92 I   266  247  262  258.33
2                   4/23/92 I   170  151  156  159.00
3                   4/23/92 I    66   66   56   62.67
4                   4/23/92 I    22   13   27   20.67
5                   4/23/92 I     1    1    4    2.00
6                   4/23/92 I    10   13   12   11.67

[1] 621   7

In [60]:
others.coulter <- read.csv(paste0(wdir,"Other Investigators in Lab.Coulter Counts.4.15.92-5.21.csv"),header=T,skip=1)
head(others.coulter)
dim(others.coulter)

  Bates.No. Date    Coul.1 Coul.2 Coul.3 Average Investigator
1           4/15/92 1547   1574   1523   1548.00 I
2           4/15/92 1617   1552   1570   1579.67 I
3           4/15/92 1258   1279   1284   1273.67 I
4           4/15/92 1273   1313   1286   1290.67 I
5           4/15/92 1071   1044   1044   1053.00 I
6           4/15/92 1014   1014    965    997.67 I

[1] 1007    7

In [83]:
print('p-value using poission binomial in RTS colony data is:')
1 - ppoibin(690,midprob[round(rts.colony[,7]),2])

[1] "p-value using poission binomial in RTS colony data is:"

[1] 0

In [84]:
print('p-value using poission binomial in others colony data is:')
1 - ppoibin(109,midprob[round(others.colony[,7]),2])

[1] "p-value using poission binomial in others colony data is:"

[1] 0.6084939

In [85]:
print('p-value using poission binomial in RTS coulter data is:')
1 - ppoibin(173,midprob[round(rts.coulter[,6]),2])

[1] "p-value using poission binomial in RTS coulter data is:"

ERROR: Error in if (any(pp < 0) | any(pp > 1)) {: missing value where TRUE/FALSE needed

In [86]:
print('p-value using poission binomial in others coulter data is:')
1 - ppoibin(36,midprob[round(others.coulter[,6]),2])

[1] "p-value using poission binomial in others coulter data is:"

ERROR: Error in if (any(pp < 0) | any(pp > 1)) {: missing value where TRUE/FALSE needed